<h1>Welcome <%= @user.username %>!</h1>
<% @songs.each do |song|%>
  <li>
    Title: <a href="/songs/<%= song.id %>"><%= song.title %></a>
  </li>
<% end %>

<form method="get" action="/songs/new">
  <input type="submit" value="Create New Song">
</form>

<form method="get" action="/users/<%=@user.id%>/edit">
  <input type="submit" value="Edit User">
</form>

<form action="/users/<%=@user.id%>" method="post">
  <input type="hidden" value="delete" name="_method">
  <input type="submit" value="Delete User">
</form>

<form method="get" action="/logout">
  <input type="submit" value="Log Out">
</form>
